body{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    position: relative;
    margin: 0;
}


section{
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-family: Georgia, serif;
    line-height: 1.2;
    margin-bottom: 20px;
}

p{
    margin-bottom: 210px;
}